<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>消息提示</title>
<link href="<?php echo WEBROOT; ?>/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="<?php echo WEBROOT; ?>/Public/bootstrap/js/jquery.min.js"></script>
<script src="<?php echo WEBROOT; ?>/Public/bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
body{ background-image: URL("<?php echo WEBROOT; ?>/Public/bootstrap/img/bg.png"); }
#mainframe {width: 800px; margin: 30px auto;}
#pagemsg {margin: 20px 0 0 0; font-size: 16px; padding:5px;}
</style>
</head>
<body>
	<div class="hero-unit" id="mainframe">
		<h1>系统出错！:(</h1>
		<span id="pagemsg" class="label label-important"><?php echo $this->getMessage(); ?></span><br/>
	</div>
</body>
</html>